@import "../../assets/styles/colors.scss";
@import "../../assets/styles/variables.scss";

.documentName {
  display: inline-block;

  p {
    color: $brand-color--primary;
    margin: 0;

    &:last-child {
      font-weight: $font-weight--bold;
      font-size: $font-size--medium;
    }
  }
}
