@import "../../assets/styles/colors.scss";
@import "../../assets/styles/variables.scss";

.exportButton {
  display: flex;
  align-items: center;
  cursor: pointer;

  &hover {
    color: $brand-color--light;
  }

  button {
    margin: 0 0 0 $margin--sm;
    padding: 0;
    border: none;
    font: unset;
    background: none;
  }
}
