@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/variables.scss";

.btn {
  display: flex;
  font-weight: $font-weight--bold;
  color: $brand-color--success;
  background: $brand-color--success-opaque;
  width: 100%;
  cursor: pointer;
  border: none;
  padding: $padding--md $padding--lg;

  section {
    margin: auto;
    display: flex;
    align-items: center;

    svg {
      font-size: $font-size--medium;
      margin-right: $margin--sm;
      transition: all 0.2s ease-in-out;
    }
  }

  &:hover section > svg {
    font-size: $font-size--medium * 1.2;
  }
}
