@import "../../assets/styles/colors.scss";
@import "../../assets/styles/variables.scss";

.preview {
  position: relative;
  width: 50%;
  padding: $whitespace--md 0 $whitespace--md $whitespace--md;
  box-sizing: border-box;
  border-left: 4px solid $brand-color--light-opaque;
  height: 100%;

  .previewHeader {
    width: calc(100% + $whitespace--md);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: white;
    border-bottom: 1px solid $brand-color--light-opaque;
    margin: (-$whitespace--md) (-$whitespace--md) 0 (-$whitespace--md);
   }

  .previewContent {
    padding-top: $whitespace--lg;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }
}