@import "../../assets/styles/colors.scss";

.preview {
  width: 50%;
  padding: 2rem;
  box-sizing: border-box;
  border-top: 2px solid $brand-color--primary-light;
  border-bottom: 2px solid $brand-color--primary-light;
}
