@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/variables.scss";

.sidebar {
  position: relative;
  top: $header-height;
  box-sizing: border-box;
  height: calc(100% - $header-height);
  color: $brand-color--primary;
  background: white;
  transition: all .4s ease-in-out;
  box-shadow: $box-shadow;

  .collapseIcon {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: - $whitespace--md;
    color: $brand-color--light;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 30px;
    box-shadow: $box-shadow;
    transition: all .3s ease-in-out;
    z-index: 1;

    &:hover {
      color: white;
      background: $brand-color--light;
    }
  }

  &__content{
    float: left;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: 1;
    transition: all .5s ease-in-out;

    .linkContainer{
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: flex-end;
      padding: $whitespace--lg $whitespace--md;

      .links{
        display: flex;
        gap: $whitespace--sm;
        justify-content: center;
        align-items: center;
        margin-bottom: $whitespace--sm;
      };
    }

    .link{
      text-decoration: underline;
      text-transform: capitalize;
      font-size: small;
      color: $brand-color--light;
      font-weight: $font-weight--bold;
    }

    .poweredByContent{
      width: 100%;
      font-size: small;
      display: flex;
      align-items: center;
      gap: $whitespace--xs;
      text-align: center;
      justify-content: center;
      font-weight: $font-weight--bold;
      color: $brand-color--dark;
      
      &:hover{
        text-decoration: underline;
      }
    }

    ul {
      width: 100%;
      float: left;
    }
  }
 
}
