@import "../../assets/styles/colors.scss";
@import "../../assets/styles/variables.scss";

.sidebar {
  position: fixed;
  top: $header-height;
  padding: 1rem 5%;
  box-sizing: border-box;
  float: left;
  width: 400px;
  height: calc(100vh - $header-height);
  color: #fff;
  background: $brand-color--primary;
  z-index: 1;
}
