@import "../../assets/styles/colors.scss";
@import "../../assets/styles/variables.scss";

.button {
  display: flex;
  position: relative;
  cursor: pointer;

  p {
    margin: 0 0 0 $margin--sm;
  }

  input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
