$brand-color--primary: #002140;
$brand-color--dark: #2b3f7a;
$brand-color--opaque: rgba($brand-color--primary, 0.1);
$brand-color--primary-shaded: rgba($brand-color--primary, 0.5);
$brand-color--primary-light: rgba($brand-color--primary, 0.2);
$brand-color--secondary: #f8c945;
$brand-color--secondary-shaded: rgba($brand-color--secondary, 0.5);
$brand-color--secondary-light: rgba($brand-color--secondary, 0.2);
$brand-color--light: #6ca4d9;
$brand-color--light-shaded: rgba($brand-color--light, 0.5);
$brand-color--light-opaque: rgba($brand-color--light, 0.1);
$notification-color--green: #13cc76;
$notification-color--red: #cc2f13;
