$header-height: 65px;
$font-size--small: 0.75em;
$font-size--normal: 1em;
$font-size--medium: 1.5em;
$font-size--large: 2em;
$font-weight--bold: 700;
$screen-size--large: 1600px;
$margin--sm: 0.5rem;
$margin--md: 1rem;
$margin--lg: 2rem;
$padding--md: 1rem;
$padding--lg: 2rem;
