@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/variables.scss";

.documentName {
  display: flex;
  width: 50%;

  input[type="text"] {
    display: block;
    width: 100%;
    color: $brand-color--primary;
    margin: 0;
    padding: $whitespace--md;
    border: none;
    text-transform: uppercase;

    &:focus {
      outline: none;
    }
  }
}
