@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/variables.scss";

.importButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  color: $brand-color--light;
  height: $padding--lg;
  width: $padding--lg;
  padding: $padding--sm;
  border-radius: $border-radius--normal;
  background: $brand-color--light-opaque;
  box-shadow: $box-shadow;

  &:hover {
    color: $brand-color--primary;
  }

  svg {
    transform: scale(1.5);
  }

  input {
    cursor: pointer;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}