@import "../../assets/styles/colors.scss";
@import "../../assets/styles/variables.scss";

.extensionBox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding: $padding--md;
  border-right: 4px solid $brand-color--primary-light;

  p {
    color: $brand-color--light;
    font-size: $font-size--small;
    text-transform: uppercase;
  }

  .dropdown {
    position: absolute;
    right: 5%;
    display: inline-block;
    cursor: pointer;

    &:hover .dropdownContent {
      display: block;
    }
  }

  .dropdownContent {
    display: none;
    position: absolute;
    background-color: $brand-color--opaque;
    min-width: $dropdown-width;
    box-shadow: $box-shadow;
    padding: $padding--md;
    z-index: 1;
  }
}
